@use '../abstracts/variables' as v;

.panel{

    margin-top: 10px;
    color: v.$color-texto;
    text-decoration:none;
    padding:5px 10px;
    border:2px solid v.$color-primario;
    border-radius: v.$radio;
    
    &__titulo{
        
    }
}