@use '../abstracts/variables' as v;

.badge{
    margin-top: 10px;
    font-weight:bold;
    border-radius: v.$radio;
    padding:5px 10px;
    
}

.badge--exito{
    background-color:v.$color-exito;
}

.badge--alerta{
    background-color:v.$color-alerta;
}

.badge--error{
    background-color:v.$color-error;
}

